body {height: auto;
width: 1400px;
padding: 0;
margin: 0 20px 0 100px;
z-index: 1;
font-family: 'Hind Siliguri', sans-serif;}



header {margin: 20px;
border: 3px solid;
border-color: rgba(103, 187, 240, 1);
border-radius: 20px;
height: 300px;}



.volume_info {margin: 10px 50px 0 150px;
float: left;}

.flat_info {float: left;
margin: 10px 150px 20px; 20px;}


h1 {margin: 10px 150px 0 150px;
    font-family: 'Hind Siliguri', sans-serif;}

h2 {text-align: center;
    margin-bottom: 5px;
font-family: 'Hind Siliguri', sans-serif;}

h3 {text-align: center;
    margin-bottom: 5px;
font-family: 'Hind Siliguri', sans-serif;}
