<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Merriweather:wght@400;700&family=Work+Sans&display=swap" rel="stylesheet">

  </head>
  
    <body>
    <h1>Жилая недвижимость</h1>
     <div>
       <ul>
           <li id="moscow_flats"><a href="http://127.0.0.1:5000/moscow_flats">Москва Квартиры</a></li>
           <li id="moscow_aparts"><a href="http://127.0.0.1:5000/moscow_aparts">Москва Апартаменты</a></li>
           <li id="spb_flats"><a href="http://127.0.0.1:5000/spb_flats">Санкт-Петербург Квартиры</a></li>
           <li id="spb_aparts"><a href="http://127.0.0.1:5000/spb_aparts">Санкт-Петербург Апартаменты</a></li>
           <li id="newmos_flats"><a href="http://127.0.0.1:5000/newmos_flats">Новая Москва Квартиры</a></li>
           <li id="newmos_aparts"><a href="http://127.0.0.1:5000/newmos_aparts">Новая Москва Апартаменты</a></li>
           <li id="mosregion_flats"><a href="http://127.0.0.1:5000/mosregion_flats">Московская область Квартиры</a></li>
           <li id="mosregion_aparts"><a href="http://127.0.0.1:5000/mosregion_aparts">Московская область Апартаменты</a></li>
       </ul>
     </div>
         <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  </body>
</html>
